# Build
build/
out/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
*.vcxproj*
*.sln
.vs/

# IDE
.idea/
.vscode/
*.user

# Binaries / objects
*.o
*.obj
*.a
*.lib
*.exe
*.dll
*.pdb
*.ilk
